<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="http://localhost:8080" />
    <add key="AgentKey" value="CHANGE_ME_AGENT_KEY_1" />
    <add key="EnterpriseId" value="1" />
    <add key="PollingInterval" value="500" />
    <add key="HeartbeatInterval" value="30000" />
    <add key="CommandTimeout" value="5" />
  </appSettings>
</configuration>
