<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="http://localhost:8080" />
    <add key="AgentKey" value="CHANGE_ME_AGENT_KEY_1" />
    <add key="EnterpriseId" value="1" />
    <add key="PollingInterval" value="500" />
    <add key="HeartbeatInterval" value="30000" />
    <add key="CommandTimeout" value="2" />
    <!-- Ingress integration (optional) -->
    <add key="IngressEnabled" value="false" />
    <add key="IngressMysqlHost" value="localhost" />
    <add key="IngressMysqlDatabase" value="ingress" />
    <add key="IngressMysqlUser" value="root" />
    <add key="IngressMysqlPassword" value="" />
    <add key="IngressSyncInterval" value="30000" />
  </appSettings>
</configuration>
